" --- 핵심 플러그인 활성화 ---
set surround
set multiple-cursors
set commentary
set highlightedyank

" --- 기본 편집 설정 ---
set number
set relativenumber
set ignorecase
set smartcase
set showmode
set incsearch
set clipboard+=unnamed

" --- IDE Action 매핑 (조작 최소화) ---

" Alt + r: 프로젝트 실행 (Run)
nnoremap <M-r> :action Run<CR>

" Alt + b: 프로젝트 빌드 (Build)
nnoremap <M-b> :action CompileDirty<CR>

" gd: 정의로 이동 (Go to Definition)
nnoremap gd :action GotoDefinition<CR>

" gi: 구현체로 이동 (Go to Implementation)
nnoremap gi :action GotoImplementation<CR>

" \r: 이름 변경 (Rename)
nnoremap \r :action RenameElement<CR>

" \f: 코드 포맷팅 (Reformat Code)
nnoremap \f :action ReformatCode<CR>

" Esc 연타로 하이라이트 해제
nnoremap <Esc><Esc> :nohlsearch<CR>